@charset "utf-8";

@import "../../../node_modules/bootstrap-scss/bootstrap.scss";
@import "../../../node_modules/font-awesome/scss/font-awesome";

@import "modules/variables";
@import "modules/layout";
@import "modules/navigation";

@import "modules/pages/welcome";
@import "modules/pages/gallery";
