body {
  padding-top: $fixed-top-offset;
  font-family: "Lato", cursive;
}
h1,
h2,
h3,
h4,
h5,
h6,
.nav,
.navbar {
  font-family: "Poiret One", cursive;
}
.mysite-section {
  min-height: 500px;
}
.bg-mysite-dark {
  background-color: $bg-dark;
  color: $bg-lite;
}
.bg-mysite-light {
  background-color: $bg-lite;
  color: $bg-dark;
}

// ----------  footer  -----------
footer {
  font-size: 0.7rem;
  p {
    display: inline;
    margin-left: 0.8rem;
  }
  a {
    color: inherit;
  }
}
