// --------  navigation  -----------
.navbar-mysite {
  background-color: $bg-dark;
  color: $bg-lite;
  border-color: black;
  border-radius: 0;
  margin-bottom: 0px;
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
}
.my-nav {
  justify-content: center;
}
.navbar-mysite .nav-item > .nav-link {
  color: white;
}
.navbar-mysite .nav-item > .nav-link:hover {
  background-color: $bg-dark;
  color: gray;
}
.navbar-mysite .nav-pills > li.active > a {
  background-color: $lite-bg-dark;
  color: gray;
}
.navbar-mysite .dropdown-menu {
  background-color: $bg-dark;
  border-color: black;
}
.navbar-mysite .dropdown-menu > a {
  color: white;
  background-color: $bg-dark;
}
.navbar-mysite .dropdown-menu > a:hover {
  color: gray;
  background-color: $bg-dark;
}
.navbar-mysite .dropdown-menu > a:focus {
  color: gray;
  background-color: $bg-dark;
}
.navbar-mysite .dropdown-menu > .active > a:focus {
  color: gray;
  background-color: $bg-dark;
}
.navbar-mysite > .navbar-toggler {
  color: white;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  background-color: grey;
}
.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover,
.nav-pills .nav-item.open .nav-link,
.nav-pills .nav-item.open .nav-link:focus,
.nav-pills .nav-item.open .nav-link:hover {
  background-color: grey;
}
.navbar-mysite > .navbar-toggler {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.navbar-mysite .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}
