$very-dark-gray: #555;
$very-light-gray: #e7e7e7;
$dark-cyan: #1caa98;
$very-dark-blue: #1b222a;

body {
  padding-top: 50px;
}

.navbar {
  padding: 0;
}

.nav.navbar-nav {
  .nav-link {
    padding: 0.85rem 1rem;
  }
  .active {
    .nav-link {
      color: $very-dark-gray;
      background: $very-light-gray;
    }
  }
}

.navbar-brand {
  padding: 0.65rem;
}

.em-text {
  color: $dark-cyan !important;
}

.col-lg-4 {
  margin-bottom: 20px;
}
.jumbotron {
  background: $very-dark-blue;
  color: white;
  height: 31rem;
  overflow: hidden;
}
.jumbotron h1 {
  margin-top: 3.5rem;
}
.jumbotron p {
  margin-bottom: 2.5rem;
}
.jumbotron img.app-btn {
  width: 40%;
  margin-right: 2rem;
}
.jumbotron img.showcase-img {
  width: 75%;
}

section {
  padding: 40px040px0;
}
section#feature img.big-logo {
  width: 70%;
}
section#middle img.demo {
  margin-top: 2rem;
  width: 20%;
}

section#feature {
  background: $dark-cyan;
  color: white;
  padding: 40px;
  overflow: auto;
}

section#feature ul li {
  font-size: 22px;
  list-style: none;
  line-height: 2em;
}

section#feature ul {
  padding: 0;
  margin: 0;
}

section#middle {
  margin: 2rem 0;
}
footer {
  background-color: rgb(138, 125, 125);
}
footer ul {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

footer ul li {
  list-style: none;
  a {
    color: $very-dark-blue;
  }
}
